# Dependencies
node_modules
npm-debug.log

# Environment variables
.env

# WhatsApp auth files
auth_info

# Git
.git
.gitignore

# SQLite database
*.sqlite
*.sqlite3
*.db

# Logs
logs
*.log

# IDE files
.vscode
.idea
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
